# ESP32 and Arduino
build/
*.bin
*.elf
*.bin.map

# Node and UI
node_modules/
npm-debug.log*
yarn-error.log*

# Docker and Databases
.docker_data/

# Node-RED persistence (Keep flows, ignore credentials and modules)
nodered/data/*
!nodered/data/flows.json
!nodered/data/settings.js
!nodered/data/package.json

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
